* {
  outline: none;
}

body {
  @apply
    tw-flex
    tw-bg-ink/darkest
  ;
}

#app {
  @apply
    tw-flex
    tw-flex-col
    tw-flex-1
  ;
  max-width: 100%;
  min-height: 100vh;
}

input {
  outline: none;
}
