:root {
  --orange-color: #EA5432;
  --orange-light-color: #FFE2DB;
  --orange-light-2-color: #FFD6CC;
  --orange-light-3-color: #FEE1DA;
  --orange-light-4-color: #FFEDE9;
  --gray-color: #6C6D70;
  --black-color: #000;
  --white-color: #FFF;
  --error-color: #E43811;
  --dark-gray-color: #454545;
  --middle-gray-color: #DDDDDD;
  --light-gray: #F5F5F5;
  --light-gray-2: #EAECF0;
  --light-gray-3: #D9D9D9;
  --light-gray-4: #F7F7F7;
  --dark-white: #F9FAFB;
  --text-primary: #454545;
  --green-color: #3CB289;

}
